.changecolor{
    color: green;
}
body{
    background-color: rgb(34,57,106);
    color: white;
}
.changeskills{
    color:green ;
}
.changeconnect{
    color: green;
}
.changecolor1{
    color: red;
}